.missing-person-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.missing-person-content {
    flex: 3;
    margin-right: 20px;
}

.missing-person-sidebar {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 20px;
    height: fit-content;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.tags span {
    display: inline-block;
    background: #e2e2e2;
    color: #666;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.missing-person-sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.missing-person-sidebar .search {
    margin-bottom: 20px;
}

.missing-person-sidebar .search input {
    width: calc(100% - 80px);
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.missing-person-sidebar .search button {
    padding: 10px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.missing-person-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.missing-person-sidebar ul li {
    margin-bottom: 10px;
}

.missing-person-sidebar ul li a {
    color: #1a0dab;
    text-decoration: inherit;
    font-size: 16px;
}

.missing-person-sidebar select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*---news change---*/

.news_blotter_post {
    width: 100%;
    display: block;
}
.news_blotter_thumbnail {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.news_blotters_info {
    width: 55%;
    display: inline-block;
}

.news_blotters_info h2 {
    font-family: 'Poppins';
    font-size: 30px !important;
    font-weight: 700;
    text-decoration: none !important;
}
.news_blotters_info h2 a {
    text-decoration: inherit !important;
    font: inherit !important;
}
